* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}

/* ==========login============ */
.css-zv1m85-MuiFormHelperText-root {
  color: red !important;
}
